In [2]:
#EXAMPLE 1
def greet():
    print("Hello")

name = "John"
print(name.upper())

JOHN

In [3]:
#EXAMPLE 2
def add(x, y):
    return x + y

add(3, 5)

8

In [4]:
#EXAMPLE 3
def greet(name):
    print("Hello", name)

greet("Alice")

Hello Alice

In [5]:
#EXAMPLE 4
def square(x):
    return x * x

result = square(4)
print(result)

16

In [6]:

#EXAMPLE 5
lst = [1, 2, 3]
it = iter(lst)
print(next(it))

1

In [7]:
#EXAMPLE 6
def gen():
    for i in range(3):
        yield i

for val in gen():
    print(val)

0
1
2

In [15]:
#EXAMPLE 8
square = lambda x: x * x
print(square(5))

25

In [9]:
#EXAMPLE 9
nums = [1, 2, 3]
squared = map(lambda x: x**2, nums)
print(list(squared))

[1, 4, 9]

PRACTICAL QUESTIONS

In [20]:
#EXAMPLE 1
def sum_even_numbers(numbers):
    total = 0
    for num in numbers:
        if num % 2 == 0:
            total += num
    return total

print(sum_even_numbers([1, 2, 3, 4, 5, 6]))

12

In [21]:
#EXAMPLE 2
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [22]:
#EXAMPLE 3
def square_list(numbers):
    result = []
    for num in numbers:
        result.append(num * num)
    return result

print(square_list([1, 2, 3]))

[1, 4, 9]

In [23]:
#EXAMPLE 4
def is_prime(n):
    if n < 2 or n > 200:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(7))
print(is_prime(204))

True
False

In [24]:
#EXAMPLE 5
class Fibonacci:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration
        value = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return value

fib = Fibonacci(5)
for num in fib:
    print(num)

0
1
1
2
3

In [25]:
#EXAMPLE 6
def power_of_two(max_power):
    for i in range(max_power + 1):
        yield 2 ** i

for val in power_of_two(4):
    print(val)

1
2
4
8
16

In [31]:
#EXAMPLE 7
def read_file_line_by_line(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

In [28]:
#EXAMPLE 8
data = [(1, 3), (2, 1), (4, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)  # Output: [(2, 1), (4, 2), (1, 3)]

[(2, 1), (4, 2), (1, 3)]

In [29]:
#EXAMPLE 9
celsius = [0, 20, 37, 100]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)  # Output: [32.0, 68.0, 98.6, 212.0]

[32.0, 68.0, 98.6, 212.0]

In [30]:
#EXAMPLE 10
def remove_vowels(s):
    return ''.join(filter(lambda ch: ch.lower() not in 'aeiou', s))

print(remove_vowels("Hello World"))

Hll Wrld

In [32]:
#EXAMPLE 11
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Create result using lambda + map
result = list(map(lambda order: (
    order[0],
    round(order[2] * order[3] + 10 if order[2] * order[3] < 100 else order[2] * order[3], 2)
), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]